global
    daemon

defaults
    mode tcp
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend tcp_front
    bind *:8081
    default_backend tcp_back

backend tcp_back
    balance roundrobin
    server s1 127.0.0.1:8888 check
    server s2 127.0.0.1:9999 check