global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:8082

    # ACL: проверяем Host
    acl is_host hdr(host) -i netology-sys.local netology-sys.local:8082

    use_backend web_back if is_host   

    # если не example.local
    default_backend deny_back

backend web_back
    balance roundrobin

    server s1 127.0.0.1:8888 weight 2 check
    server s2 127.0.0.1:9999 weight 3 check
    server s3 127.0.0.1:7777 weight 4 check

backend deny_back
    http-request deny
